{% extends 'base.html' %}

{% block head %} 

{% endblock %} 

{% block body %}
<div class="head">
    <div class="logo">
        <a href="#">REA_TEC</a>
    </div>
    <nav class="navbar">
        <a href="#">Eventos Proximos</a>
        <a href="#">Eventos populares</a>
        <a href="#">Calendario de Eventos</a>
        <a href="#">Busqueda de Eventos</a>
        <a href="#">Promociones</a>
    </nav>
   </div>

   <header class="content header">
    <h2 class="title">Eventos Proximos</h2>
    <p>
        Ve los eventos que sucederan proximamente
    </p>

    <div class="btn-home">
        <a href="#" class="btn">Saber Mas</a>
    </div>
   </header>
   <section class="content sau">
        <h2 class="title">Eventos por Deporte</h2>
        <p>
            Busca los boletos para el evento de tu deporte favorito.
        </p>
        <div class="box-container">
            <div class="box">
                <img src="https://images.vexels.com/media/users/3/146850/isolated/preview/b314541f49ce483dd4c47d0142a47f77-icono-de-la-pelota-de-f-tbol-cl--sico-by-vexels.png" alt="Box_icono" style="float:center;width:35px;height:35px;">
                <h3>Soccer </h3>
                <p>Ve los proximos partido de Soccer</p>
                <a href="#" class="btn">Ver Eventos</a>

            </div>
            <div class="box">
                <img src="https://thumbs.dreamstime.com/b/pelota-de-b%C3%A9isbol-cruzado-peros-y-icono-contorno-grueso-editable-con-dise%C3%B1o-relleno-color-ilustraci%C3%B3n-vectorial-213730064.jpg" alt="beisbal_icono" style="float:center;width:35px;height:35px;">
                <h3>Baseball </h3>
                <p>Ve los proximos partido de Baseball</p>
                <a href="#" class="btn">Ver Eventos</a>

            </div>
            <div class="box">
                <img src="https://thumbs.dreamstime.com/b/icono-del-vector-de-la-caja-con-los-guantes-de-boxeo-rojos-cl%C3%A1sicos-88413896.jpg" alt="Box_icono" style="float:center;width:35px;height:35px;">
                <h3>Box </h3>
                <p>Ve las proximas peleas de Box</p>
                <a href="#" class="btn">Ver Eventos</a>

            </div>
        </div>
   </section>

   <section class="content about">
    <h2 class="Title">Calendario de eventos</h2>
    <p>Ve el calendario de los eventos que sucederan proximamente</p>
   </section>
   <section class="content price">

    <article class="contain">
        <h2 class="title">Promociones</h2>
        <p>Ve las mejores promociones que te proporcionamos para que puedas atender a tu evento favorito a un costo reducido
        </p>

        <a href="#" class="btn">Ver promociones</a>

    </article>

</section>

<section class="content contact">
    <h2 class="title">Contacto</h2>
    <p>Telefono  (55) 5555 5555</p>
    <p>Email email@email.com.mx</p>
   <!-- <figure class="map">
        <img src="img/mapa.png" height="220px" width="100%" alt="mapa">
    </figure>-->
</section>
{% endblock %} 
